@media (prefers-color-scheme: light) {
    :root {
        --primary: white;
        --secondary: white;
        --border: grey;
        --font-color: black;
        --font-inverted: white;
        --link-color: blue;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #202020;
        --secondary: #2b2b2b;
        --font-color: white;
        --link-color: tomato;
    }
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background-color: var(--primary);
    box-sizing: border-box;
}

* {
    color: var(--font-color);
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > * {
    padding: 0 4vw;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    main {
        flex-flow: row wrap-reverse
    }
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > * {
    min-width: 15%;
    max-width: 100%;
    flex-grow: 1;
}

hr {
    color: var(--border);
    margin-top: 0.12rem;
    margin-bottom: 0.3rem;
}

nav,
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav > *,
footer > * {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

footer {
    margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.1;
    font-weight: bold;
}

p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

a {
    padding-right: 0px;
    font-family: monospace;
    text-decoration: underline solid var(--link-color) 10%;
    text-underline-offset: 3.8px;
}

a:hover {
    background-color: var(--link-color);
    color: var(--font-inverted);
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.2rem 1rem;
}

dt {
    font-size: 0.9rem;
    font-weight: bold;
}

dd {
    font-size: 0.9rem;
}

.profile {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.articles {
    display: flex;
    flex-flow: column nowrap;
    max-width: 700px;
}

.info {
    min-width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}