@media (prefers-color-scheme: light) {
    :root {
        --primary: white;
        --secondary: white;
        --border: grey;
        --font-color: black;
        --font-inverted: white;
        --link-color: blue;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #202020;
        --secondary: #2b2b2b;
        --border: darkgrey;
        --font-color: white;
        --font-inverted: black;
        --link-color: tomato;
    }
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background-color: var(--primary);
    box-sizing: border-box;
}

html * {
    color: var(--font-color);
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > * {
    padding: 0 4vw;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    main {
        flex-flow: row wrap-reverse
    }
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > * {
    min-width: 15%;
    max-width: 100%;
    flex-grow: 1;
}

hr {
    color: var(--border);
    margin-top: 0.12rem;
    margin-bottom: 0.3rem;
}

nav,
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav > *,
footer > * {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

footer {
    margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.1;
    font-weight: bold;
}

p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

a {
    padding-right: 0px;
    font-family: monospace;
    text-decoration: underline solid var(--link-color) 10%;
    text-underline-offset: 3.8px;
}

a:hover {
    background-color: var(--link-color);
    color: var(--font-inverted);
}

ul {
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

li {
    white-space: nowrap;
    margin-bottom: 0.4em;
}

table {
    overflow-x: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 0.15rem solid var(--border);
    border-radius: 0.5rem;
    border-spacing: 0px;
    overflow: scroll;
    background-color: var(--primary);
}

table tbody,
table thead {
    width: 100%;
}

td,
th {
    border-bottom: 1px dotted var(--border);
    text-overflow: ellipsis;
    padding: 0.4rem;
    font-size: 0.9rem;
}

th {
    border-bottom: 1px solid var(--border);
}

thead,
tbody {
    margin: 0;
    padding: 0;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.2rem 1rem;
}

dt {
    font-size: 0.9rem;
    font-weight: bold;
}

dd {
    font-size: 0.9rem;
}

label {
    display: inline-block;
    user-select: none;
    text-align: right;
}

button,
label,
input,
select,
progress,
meter {
    box-sizing: border-box;
    margin: 0;
    padding: 0em 0.2em 0.1em 0.2em;
    background-color: var(--secondary);
    border: 1px solid var(--border);
    border-radius: 1px;
    font-family: inherit;
    font-size: 100%;
}

button:active {
    background-color: var(--link-color);
}

[hidden] {
    display: none;
}

/* custom */
.profile {
    width: 70%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.articles {
    display: flex;
    flex-flow: column nowrap;
}

.info {
    min-width: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}